/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.menu-bar {
	-fx-background-color: #f4f4f4;
	-fx-border-color: #f4f4f4 #f4f4f4 #d9dce0 #f4f4f4;
}

.selected_hyperlink {
	-fx-text-fill: #000000;
	-fx-underline: true;
}

.unselected_hyperlink {
	-fx-text-fill: #3B3EFF;
	-fx-underline: false;
}

.underlined {
	-fx-underline: true;
}

.not_underlined {
	-fx-underline: false;
}

.shadow_border {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}